@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.woff") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url("../fonts/Montserrat-Bold.woff") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url("../fonts/Montserrat-Medium.woff") format("opentype");
}