div.faq {
  margin-top: 15%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.faq > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div.faq-white-bar {
  height: 0.5em;
  width: 35%;
  border-radius: 50px;
  background-color: #e5e5e5;
}

div.header > img {
  margin-top: 15px;
  height: 40px;
  width: 40px;
}

div.header > span {
  font-size: 3vw;
}

div.faq > h2 > div.header > div.header-text > span:nth-of-type(2) {
  font-size: calc(36px + 2vw);
  letter-spacing: 8px;
  font-weight: bold;
  color: #a60b25;
  margin-top: -45%;
}
