div.features {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.features > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div.header {
  min-width: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.header > img {
  margin-top: 15px;
  height: 40px;
  width: 40px;
}

div.header > span {
  font-size: 3vw;
}

div.white-bar {
  margin-top: 15%;
  height: 0.5em;
  width: 35%;
  border-radius: 50px;
  background-color: #e5e5e5;
}

div.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.header-text > span:first-child {
  font-size: calc(56px + 2vw);
  letter-spacing: 6px;
  color: #1b1d1a;
  text-shadow: -2px 0 #1d1f1c, 0 2px #1d1f1c, 2px 0 #1d1f1c, 0 -2px #1d1f1c;
}

div.header-text > span:nth-of-type(2) {
  font-size: calc(36px + 2vw);
  letter-spacing: 8px;
  font-weight: bold;
  color: #a60b25;
  margin-top: -18%;
}

div.features > h2 > div.description, div.features > div.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #e5e5e4;
  font-size: 24px;
}

div.features > h2 > div.description > span, div.features > div.description > span {
  color: #a60b25;
  font-weight: bold;
  font-style: italic;
  font-size: 26px;
  margin: 0 1%;
}
