header.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.logo {
  margin: 0 3%;
  width: calc(60px + 5vw);
  height: calc(60px + 5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9d232c;
  border-radius: 50%;
  border: calc(4px + 0.1vw) solid #711a21;
}

div.logo > img {
  width: 75%;
  height: 75%;
}

div.header-nav > a {
  padding: 7px 0;
  background-color: #222520;
  border-radius: 20px;
  border: calc(1px + 0.1vw) solid #96212a;
  font-size: calc(7px + 0.5vw);
}

div.header-nav > a > span {
  width: calc(50px + 6vw);
  max-width: 140px;
  text-align: center;
}