div.main-nav-container {
  margin-top: 5%;
  width: 80%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

div.main-nav-content {
  display: flex;
  min-width: 480px;
}

div.main-nav-content > div.left-panel, div.main-nav-content > div.right-panel {
  width: 50%;
}

div.left-panel {
  display: flex;
  justify-content: flex-start;
}

div.left-panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

div.left-panel-content > img {
  width: 80%;
  min-width: 156px;
}

div.left-panel-content > a {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: calc(3px + 0.7vw);
  width: 80%;
  background: linear-gradient(#02ff02, #00b300);
  padding: 3% 5%;
  border-radius: 20px;
  margin-top: 5%;
}

div.left-panel-content > span {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  font-size: calc(4px + 0.5vw);
  width: 80%;
}

div.right-panel, div.phone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.phone-container {
  margin-top: 5%;
}

div.phone-container > img {
  position: relative;
  width: 65%;
}

div.phone-container:hover > img {
  animation: shake 3.5s infinite;
}

@keyframes shake {
  0% {
    left: 0;
    -webkit-filter: blur(0.1px);
  }
  2.5% {
    left: 10px;
    -webkit-filter: blur(0.2px);
  }
  5% {
    left: -10px;
    -webkit-filter: blur(0.3px);
  }
  7.5% {
    left: 10px;
    -webkit-filter: blur(0.4px);
  }
  10% {
    left: -10px;
    -webkit-filter: blur(0.5px);
  }
  12.5% {
    left: 0;
    -webkit-filter: blur(0);
  }
}

div.top-aside {
  width: 100%;
  height: calc(10px + 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: calc(10px + 1.1vw);
}

div.top-aside > span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

div.top-aside > span > span {
  display: flex;
  width: 14%;
  min-width: 40px;
  margin: 0 1% 1px;
  justify-content: center;
  transition: all .15s ease-in-out;
}

div.top-aside > span > span:hover {
  width: 19%;
}

nav.main-nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#51141c, #51141c);
  background-size: 80% calc(10px + 1.3vw);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  margin-top: -2vw;
}

nav.main-nav > a {
  padding: calc(2px + 0.7vw) 0;
  background-color: #222520;
  border-radius: calc(20px + 0.7vw);
  border: calc(1px + 0.2vw) solid #4f0f15;
  box-shadow: 0 2px 2px rgba(0,0,0,0.07);
  z-index: 5;
  width: 20%;
}

nav.main-nav > a > span {
  text-align: center;
  font-size: calc(4px + 0.7vw);
}