.waves-with-still-water {
  width: 100%;
  height: calc(160px + 0.8vw);
  margin-top: calc(-130px - 7vw);
  z-index: 1;
}

.water-color {
  width: 100%;
  height: calc(200px - 7vw);
  background-color: #d22c38;
  z-index: 4;
}

.waves-container {
  width: 100%;
  height: 100%;
  margin-top: calc(-160px - 0.1vw);
  z-index: 3;
}

.waves-border-container {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.waves {
  position: relative;
  width: 100%;
  height: calc(40px + 7vw);
}

/* Animation */
.parallax>use {
  animation: move-forever 50s cubic-bezier(.55, .5, .45, .5) infinite;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}